<!-- Post Navigation
================================================== -->
<br>
<hr>
<br>
<h2 class="text-center mb-4">More Projects</h2>

{% assign maxPosts = 3 %}
{% assign minOtherPosts =  1 %}
{% assign maxPostsCounter = 0 %}
<div class="post-navigation">
    <div class="blog-grid-container">  
        {% for post in site.posts %}
        {% assign postCount = 0 %}
            {% if post.url != page.url %}
                {% assign postCount = postCount | plus: 1 %} 
            {% endif %}
            {% if postCount >= minOtherPosts %}
            {% include postbox-nav.html %}
            {% assign maxPostsCounter = maxPostsCounter | plus: 1 %}
            {% if maxPostsCounter >= maxPosts %} 
            {% break %}
            {% endif %}
            {% endif %}
        {% endfor %}
</div>
</div>





    




