<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon_io/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/assets/images/favicon_io/site.webmanifest">

<title>{{ page.title }} | {{site.name}}</title>

{% seo %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
<link href="{{ site.baseurl }}/assets/css/prism.css" rel="stylesheet">

<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">

<!-- image slider (1) -->
<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/ideal-image-slider/ideal-image-slider.css">
<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/ideal-image-slider/themes/default/default.css">

<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

<script src="https://kit.fontawesome.com/e851d6824b.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- <link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<!-- image-slider (2) -->
<script src="{{ site.baseurl }}/bower_components/ideal-image-slider/ideal-image-slider.js"></script>
<script src="{{ site.baseurl }}/bower_components/ideal-image-slider/extensions/captions/iis-captions.js"></script>

{% if jekyll.environment == 'production' %}
<!-- change your GA id in _config.yml -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.google_analytics}}');
</script>
{% endif %}

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body>
	<!-- defer loading of font and font awesome -->
	<noscript id="deferred-styles">
        <!-- i removed it -->
	</noscript>

<!-- Begin Sidebar Navigation
================================================== -->

<!-- <div class="sidebar">    
</div>    -->
<!-- <div class="nav-icon">
    <div class="hamburger-bar"></div>
</div>
<div id="blackover-nav" class="blackover"></div> -->

<div class="nav-container sticky-top">
    <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-light" >
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="nav-icon" onclick="openNav()">
                <div class="hamburger-bar"></div>
            <span>
            <!-- <span class="navbar-toggler-icon"></span> -->
        </button>

        <div class="navbar-collapse collapse justify-content-end" id="navbarToggler">
        <ul class="navbar-nav ">
            <!-- <h3>Navigation</h3> -->
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/">Works <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
            </li>
        </ul>
    </div>
    </nav>
</div>

<!-- Search bar -->
<!-- {% include search-lunr.html %} -->

<!-- End Sidebar Navigation
================================================== -->

<div class="site-content {% if page.url == '/' %} firstpage {% endif %}">

<div class="container">

    <!-- Site Logo/Name
    ================================================== -->
   
    <!-- <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
    </a>   -->
   

    <!-- Site Tag
    ================================================== -->
    {% if page.url == '/' %}
    <div class="landingpage-intro">
        <img src="/assets/images/avatar-tessa_hero.png" width="298px">
    
        <span>
            <p class="sitetag">
                <!-- 👋 Hey there!<br><br> -->
                I'm <span class="name-highlight">Tessa Goh.</span><br><br>
                A <span class="role-highlight">UX/UI designer</span><br>
                based in Singapore.
                <!-- <br> -->
            </p>
            </span>
            <!-- <div class="d-flex justify-content-center">
                <span class="button-scrolldown justify-content-center">
                   <i class="fa-solid fa-chevron-down"></i>
                    <i class="fa-solid fa-circle-chevron-down"></i>
                   </span>
            </div> -->
            <div class="mouse_scroll">
                <div>
                    <span class="m_scroll_arrows unu"></span>
                    <span class="m_scroll_arrows doi"></span>
                    <span class="m_scroll_arrows trei"></span>
                </div>
        </div>

    </div>
    {% endif %}

<!-- 
    <p class="sitetag">
        {{ site.description }}
    </p> -->

    <!-- Content
    ================================================== -->
    <div id="Works" class="main-content">
        {{ content }}
    </div>

    {% if site.mailchimp-list %}
    <!-- Newsletter
    ================================================== -->
    <div class="newsletter text-center">
        <span class="h4"><img src="{{ site.baseurl }}/{{ site.logo }}" class="newsletter-logo" alt="{{site.title}}"> &nbsp; Never miss a <b>story</b> from us, subscribe to our newsletter</span>
        <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
            <div class="mc-field-group d-inline-flex">
            <input type="email" placeholder="Your e-mail" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on" required>
            <input type="submit" value="Subscribe" name="subscribe" class="heart">
            </div>
        </form>
    </div>
    {% endif %}
    
</div>

<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center text-lg-left">
                Copyright © {{ site.time | date: "%Y" }} {{ site.title }} 
            </div>
            <div class="col-md-6 col-sm-12 text-center text-lg-right" id="footer-links">
                <a class="m-2" target="_blank" href="mailto:{{ site.email }}?subject=Let's Connect!">
                    <i class="fa-regular fa-envelope"></i>
                </a>
    
                <a class="m-2" target="_blank" href="https://www.linkedin.com/in/tessagoh/" rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->

</div> <!-- /.site-content -->

<!-- Scripts (if you need bootstrap.js, please add it yourself. I didn't use it for performance reasons, it was not needed in this theme)
================================================== -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{{ site.baseurl }}/assets/js/prism.js"></script>

<script src="{{ site.baseurl }}/assets/js/theme.js"></script>

{% if site.lazyimages == "enabled" %}
<script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
{% endif %}

{% if page.layout == 'post' %}
<script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>
{% endif %}

</body>
</html>
