---
layout: default
disqus: false
archive: false
post_class: post-template
---

<div class="entry-header">
    <!-- Post Title -->
    <h1 class="posttitle">{{ page.title }}</h1>
    <!-- Author & Date  Box -->
    {% assign author = site.authors[page.author] %}
    {% if page.author %}
    <div class="d-flex align-items-center mt-4">
        <div>
            {% if author.avatar %}
            <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
            {% else %}
            <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
            {% endif %}
        </div>
        <div>
        Written by {{ author.display_name }} on
        <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>
        {% if page.last_modified_at %}
        (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
        {% endif %}
        </div>
    </div>
    {% endif %}
</div>

    <!-- Featured Image -->
{% include featured-image.html %}

    <!-- Summary -->
    <div class = "post-intro">
        <div class="row">
          <div class="post-summary col-md-10">
            <h3>Overview</h3>
              <span>{{ page.summary }}</span>
          </div>
            <div class="post-scope-year col-md-2">
                <div class="post-scope">
                    <h3>Scope</h3>
                    <span>{{ page.categories }}</span>
                </div>
                <hr>
                <div class="post-year">
                    <h3> Year</h3>
                    <span>{{ page.date | date: "%Y" }}</span>
                </div>
            </div>
        </div>
    </div>

    <hr>

<!-- Adsense under title if enabled from _config.yml (change your pub id and slot) -->
{% if site.adsense == "enabled" %}
    {% include adsense-under-header.html %}
{% endif %}

<!-- Content -->
{% include article.html %}

<!-- Back to Top FAB
================================================== -->
<a id="back-to-top-button">
    <!-- <span>
    <i class="fa-solid fa-arrow-up-long"></i>
    <p>Back to top</p>
    </span>  -->
    <svg width="39px" height="16px" viewBox="0 0 39 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>back-to-top</title>
        <g id="Page-1" stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
            <g id="back-to-top-container" transform="translate(-1300.000000, -2420.000000)" stroke="#292C30" stroke-width="2">
                <g id="back-to-top" transform="translate(1301.670524, 2421.752238)">
                    <line x1="17.6594759" y1="1.36424205e-12" x2="35.6589519" y2="12.2373737" id="Line"></line>
                    <line x1="2.45067187e-16" y1="12.2373737" x2="17.6589519" y2="0" id="Line-Copy"></line>
                </g>
            </g>
        </g>
    </svg>
</a>

<!-- Rating -->
{% if page.rating %}
<div class="rating mt-4 mb-4 d-flex align-items-center">
    <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
</div>
{% endif %}

<!-- Author Box if enabled from _config.yml -->
{% include author-box.html %}

<!-- Comments if not disabled with comments: false -->
{% include comments.html %}

<!-- Share -->
{% include share.html %}

<!-- Related Post -->
{% include post-nav.html %}

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first:
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
    <script type="application/ld+json">
    {
    "@context": "http://schema.org/",
    "@type": "Review",
    "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
    },
    "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
    },
    "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
    "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
    }
    }
    </script>
{% endif %}
